

body { /* no . means element type */
  background-image: url('../backgrounds/forest.jpg');
  background-color: #4b3018;
  background-repeat: repeat;
  background-size:  auto;
  text-align: center; /* text-align centers text AND children 
*/
}

#shopMenu{display: none;}
#boatShop{display: none;}
#miscShop{display: none;}
#backpackMenu{display: none;}
#petShop{display: none;}
#searchMenu{display: none;}
#mapMenu{display: none;}
#forest{display: none;}
#mineMenu{display: none;}
#exchangeMenu{display: none;}
#seaMenu{display: none;}
#coinMenu{display: none;}

* { /* * applies to all elements, use with caution */
  outline: none; 			
}

h1 {
  text-decoration: overline;
}

h2  {
  text-decoration-color: cyan;
}

h3  {
  text-decoration-color: red;
}

h4  {
  text-decoration-color: blue;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* Green */
.success {
  color: rgb(39, 139, 8);
  border-radius: 12px;
}

.homeButton  {
  color: #000000;
  background-color: grey;
  border-radius: 12px;
}

.success:hover {
  background-color: #0a8f3d;
  color: white;
  border-radius: 12px;
}

/* Blue */
.info {
  color: dodgerblue;
  border-radius: 12px;
}

.info:hover {
  background: #2196F3;
  color: white;
  border-radius: 12px;
}

/* Orange */
.warning {
  background: gold;
  color: rgb(0, 0, 0);
  border-radius: 12px;
}

.warning:hover {
  background: #ff9800;
  color: white;
  border-radius: 12px;
}

/* Red */
.danger {
  color: red;
  border-radius: 12px;
}

.danger:hover {
  background: #f44336;
  border-radius: 12px;
  color: white;
}

/* Gray */
.default {
  color: black;
  border-radius: 12px;
}

.default:hover {
  background: #e7e7e7;
  border-radius: 12px;
}

.rock {
  color: rgb(0, 0, 0);
  border-radius: 12px;
}

.rock:hover {
  background: rgb(59, 59, 59);
  border-radius: 12px;
}

.thief  {
  color: #000000;
  border-radius: 12px;
}

.thief:hover  {
  background: #402e72;
  border-radius: 12px;
}

.logs  {
  color: rgb(5, 5, 5);
  border-radius: 12px;
}

.logs:hover {
  background:rgb(145, 84, 5);
  border-radius: 12px;
}

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 5px solid #888888;
  border-radius: 50%;
  border-top: 6px solid #772323;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.iconLogs {
    background: url('icons/log.jpg');
    height: 20px;
    width: 20px;
    display: block;  
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.footer {
    background-color: #333333;
    text-align: center;
    padding: 10px;
  }

.test1 {      
    width: auto;      
    background-color: rgb(77, 82, 83);       
    border: 2px solid black;      
    padding: 10px;      
    word-wrap: break-word;      
    font-size: 20px;
    border-radius: 12px;    
}  

.test2  {
  width: auto;
  background-color: #555;
  border: 3px solid black;
  padding: 10px;
  word-wrap: break-word;
  font-size: 20px;
}

.Button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #666666;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.stealButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #6800e0;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.mineButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #5c5c5c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.fishButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #077dac;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.woodButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #10684d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #155717}

.woodButton:active {
  background-color: #235324;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fishButton:active {
  background-color: #1876a1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.mineButton:active {
  background-color: #535353;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.stealButton:active {
  background-color: #4d4d4d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

 .workerButton {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #e7bd01;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.workerButton:active {
  background-color: #f1b40b;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#myProgress1 {
  width: 100%;
  background-color: grey;
}

#myBar1 {
  width: 1%;
  height: 30px;
  background-color: green;
}

#myProgress2 {
  width: 100%;
  background-color: grey;
}

#myBar2 {
  width: 100%;
  height: 30px;
  background-color: rgb(73, 73, 73);
}

#myProgress3 {
  width: 100%;
  background-color: grey;
}

#myBar3 {
  width: 100%;
  height: 30px;
  background-color: rgb(73, 73, 73);
}

#container1 {
  margin: 20px;
  width: 400px;
  height: 8px;
}